@use "../../../sass/abstract/" as *;

.main-chatbox {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .inside-chatbox {
        width: 100%;
        height: 100%;
        display: flex;
        .left-chatbox {
            width: 28%;
            border: 2px solid green;
            .inside-left-chatbox {
                width: 100%;
                height: 100vh;
                .left-chatbox-header {
                    width: 100%;
                    height: 14%;
                    border: 1px solid blue;
                }
                .left-chatbox-body {
                    width: 100%;
                    height: 86%;
                    border: 2px solid red;
                    overflow: hidden;
                    overflow-y: auto;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .user-box {
                        width: 100%;
                        border-bottom: 3px solid #f9f5f6;
                        padding: 10px 9px;
                        cursor: pointer;
                        display: flex;
                        gap: 20px;
                        .user-image {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            object-fit: contain;
                        }
                    }
                    .active-chatbox {
                        background-color: #f8e8ee;
                        width: 100%;
                        border-bottom: 3px solid #f9f5f6;
                        padding: 10px 9px;
                        cursor: pointer;
                        display: flex;
                        gap: 20px;
                        .user-image {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            object-fit: contain;
                        }
                    }
                    .user-box:hover {
                        background-color: #f9f5f6;
                    }
                }
            }
        }
        .right-chatbox {
            width: 82%;
            border: 2px solid red;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .chat-image {
                width: 100%;
                height: 400px;
                object-fit: contain;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .inside-right-chatbox {
                width: 100%;
                height: 100vh;
                overflow: hidden;
                .right-chatbox-header {
                    width: 100%;
                    height: 10%;
                    border: 1px solid red;
                    display: flex;
                    justify-content: space-between;
                    padding: 20px;
                    align-items: center;
                    .logout-btn {
                        width: 25px;
                        height: 25px;
                        background-color: red;
                        color: white;
                        border-radius: 10px;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .user-image {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: contain;
                    }
                }
                .chat-form {
                    border: none !important;
                    width: 800px !important;
                    outline: none !important;
                }
                .right-chatbox-body {
                    width: 100%;
                    height: 78%;
                    border: 3px solid red;
                    overflow: hidden;
                    overflow-y: scroll;
                    .sender {
                        display: flex;
                        justify-content: flex-end;
                        width: 100%;
                        padding-right: 20px;
                    }
                    .receiver {
                        display: flex;
                        justify-content: flex-start;
                        padding-left: 20px;
                    }
                    .messagebox {
                        width: auto;
                        border: 3px solid #fdcedf;
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                        border-top-right-radius: 10px;
                        padding: 10px 20px;
                        margin: 10px 0px;
                        position: relative;
                        .date-box {
                            display: flex;
                            justify-content: flex-end;
                            font-size: 12px;
                        }
                        .delete-box {
                            position: absolute;
                            left: -3%;
                            top: -6%;
                            width: 20px;
                            height: 20px;
                            background-color: red;
                            color: white;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            border-radius: 50%;
                        }
                    }
                }

                .right-chatbox-message {
                    width: 100%;
                    height: 12%;
                    position: relative;
                    .border-chat {
                        border: 1px solid white;
                        border-radius: 10px;
                        cursor: pointer;
                        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                        width: 90%;
                        margin: 0 auto;
                        padding: 0px 30px;
                        display: flex;
                        gap: 5%;
                        align-items: center;
                        justify-content: center;
                    }
                    ion-icon {
                        font-size: 25px;
                        transform: 2s;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    ion-icon:hover {
                        transform: rotate(-30deg);
                        transition: 2s;
                    }
                    .emoji-box {
                    }
                    .box-emojies {
                        position: absolute;
                        top: -64vh;
                        left: 5%;
                    }
                }
            }
        }
    }
}
